<div>
    <h2 id="page-heading">
        <span jhiTranslate="airTrafficApp.airport.home.title">Airports</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-airport" [routerLink]="['/airport/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="airTrafficApp.airport.home.createLabel">
            Create new Airport
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="airports">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
          <!--  <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="latitude"><span jhiTranslate="airTrafficApp.airport.latitude">Latitude</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="longitude"><span jhiTranslate="airTrafficApp.airport.longitude">Longitude</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="airTrafficApp.airport.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="airportLocation.name"><span jhiTranslate="airTrafficApp.airport.airportLocation">Airport Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let airport of airports ;trackBy: trackId">
           <!--     <td><a [routerLink]="['/airport', airport.id, 'view' ]">{{airport.id}}</a></td>-->
                <td>{{airport.latitude}}</td>
                <td>{{airport.longitude}}</td>
                <td>{{airport.name}}</td>
                <td>
                    <div *ngIf="airport.airportLocation">
                        <a [routerLink]="['../city', airport.airportLocation?.id, 'view' ]" >{{airport.airportLocation?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/airport', airport.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/airport', airport.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/', 'airport', { outlets: { popup: airport.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
